[submodule "aula-dev-web-iii-atv2"]
	path = aula-dev-web-iii-atv2
	url = https://github.com/RayaneBarrosM/Aula-Dev-Web-III-atv2.git
[submodule "aula-dev-web-iii-atv3"]
	path = aula-dev-web-iii-atv3
	url = https://github.com/RayaneBarrosM/Aula-Dev-Web-IIIATV3.git
